.about-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  // margin-bottom: 2px;
}

.about-us-container {
  text-align: center;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  // filter: brightness(70%);

  h1 {
    font-weight: 600;
    filter: brightness(100%);
    color: white;
  }
}


.about-us-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: rgb(205, 204, 204);
  opacity: 0.7;
}

.about-us-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  z-index: -1;
}



// #c7e8ff

.after-about-us-containerrr {
  margin-top: 80px;
  text-align: center;
  width: 750px;
  font-weight: 400;
  font-size: large;
  line-height: 1.5;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  margin-bottom: 80px;
}

.image-about-us-container {
  background-color: red;
  width: 700px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  // position: relative;
  background-position: center;
  background-size: cover;
}

.image-about-us-container-left {
  background-color: red;
  width: 700px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  // position: relative;
  background-position: center;
  background-size: cover;
}

.after-about-us-container {
  width: 500px;
  height: 300px;
  text-align: center;
  font-weight: 500;
  font-size: large;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #444;
  margin: 50px auto;
  position: absolute;
  // top: 0;
  left: 50%;
  transform: translateX(-3%);
}

.after-about-us-container:not(:last-child) {
  margin-bottom: 100px;
}

.after-about-us-container:before {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: #e5e4e4;
  margin: 0 auto 30px;
  border-radius: 5px;
}


.after-about-us-container-left {
  width: 500px;
  height: 350px;
  text-align: center;
  font-weight: 500;
  font-size: large;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #444;
  margin: 50px auto;
  position: absolute;
  // top: 0;
  right: 50%;
  transform: translateX(3%);
}

.after-about-us-container-left:not(:last-child) {
  margin-bottom: 100px;
}

.after-about-us-container-left:before {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: #e5e4e4;
  margin: 0 auto 30px;
  border-radius: 5px;
}

.after-about-us-container-just-text {
  width: 700px;
  height: 100px;
  text-align: center;
  font-weight: 400;
  font-size: large;
  line-height: 1.5;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  // margin: 50px auto;
  margin-top: 80px;
  margin-bottom: 70px;
}


.imagess-container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  // border: 2px solid black;
  width: 2000px;
  padding: 10px 330px;
  background-color: #f5f5f5;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-position: center;
  background-size: cover;

  .user-firendly-container {
    padding-top: 20px;

    h6 {
      text-align: center;
      padding-top: 25px;
      padding-right: 20px;
    }
  }

  .quality-check-container {
    padding-top: 20px;
    h6 {
      text-align: center;
      padding-top: 18px;
    }
  }

  .map-png-container {
    padding-top: 20px;
    h6 {
      text-align: center;
      padding-top: 9px;
    }
  }
}


.infos-about-us {
  padding: 1em;
  background-color: #b7b7b7;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid #ddd;
  border-radius: 10px;
  width: 1450px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


