<div class="food-name-container">
  <%# API filtering for Food name with highest nutrient value %>
  <% @name = [] %>
  <% @food_item.each do |food| %>
    <% food["foodNutrients"].each do |nutrient|%>
      <% if nutrient["nutrientNumber"] == nutri.nutri_code %>
        <% @name.push([food["description"],nutrient["value"]]) %>
      <% end %>
    <% end %>
  <% end %>
  <%# sorting for Food with highest nutrient value %>
  <% @sorted_names = @name.sort_by {|obj| obj [1]} %>
  <% @result_name = @sorted_names.last(3).map {|obj| obj [0]} %>
  <% @result_name.reverse! %>
  <%# display name of food per nutrient %>
  <% @result_name %>
    <% @result_name.each do |name| %>
      <% name = name.split(", ") %>
      <% name.delete_at(-1) %>
      <% name = name.join(", ") %>
      <p><%= name %></p>
  <% end %>
  <%# API filtering for Food name with highest nutrient value %>
</div>
