
<% nutrients.each do |nutrient| %>
  <% nutri = Nutrient.find(nutrient) %>

  <% unsplash_url = "https://source.unsplash.com/200x200/?#{nutri.name}-supplement" %>

  <div class="nutrients-content-container" onclick="window.open('https://en.wikipedia.org/wiki/<%= nutri.name %>');">
    <div class="nutrient-image-container" style="background-image: url('<%= unsplash_url %>');"></div>
    <div class="nutrient-content-text">
      <div class="nutrient-name-container">
        <h2 class="nutrient-card-title">
          <%= nutri.name %>
        </h2>
      </div>
      <div class="nutrient-description-container">
        <p class="nutrient-card-body seventyone-chars">
          <%= nutri.description %>
          <%# Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod %>
        </p>
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>
<% end %>
