<div class="results-container">
  <br>
  <h2>Your Results</h2>
  <br>
  <h4 id="title-all-results">You may benefit from the following nutrients</h4>
  <hr>
      <div class="advice-text-container">
        <%# TODO: WHEN THERE ARE NO RESULTS, THIS TITLE SHOULD DISAPPEAR %>
        <h3 id="title-nutrient-results"></h3>
      </div>
  <div class="results-content-container">

    <div class="total-nutrients-container">
      <% @categories.each_with_index do |category, index| %>
        <%= render "one_cat_result", category: category, nutrients: @categories_nutrients[index] %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <h4 class="categories-advice-title">You could work on the following categories</h4>
    <hr>
    <div class="total-categories-container">
      <% @categories.each_with_index do |category, index| %>
        <div class="category-name-container">
          <p>
            <%= category.name %>
          </p>
        </div>
        <div class="category-description-container">
          <p>
            <%= category.description %>
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
