<!-- Old code for single category quiz
 accessed through the old "Do the quiz" button in the home page; should be removed
 now moved and adapted for multi-category quiz in the quizzes/show view.
-->

<div class="results-container">
  <h1 id="title-all-results">Your Results</h1>
      <div class="advice-text-container">
        <%# TODO: WHEN THERE ARE NO RESULTS, THIS TITLE SHOULD DISAPPEAR %>
        <h3 id="title-nutrient-results">Based on your results, we recommend the following nutrients</h3>
      </div>
  <%= render "one_cat_result", category: @category, nutrients: @category_nutrients %>
</div>
