<div class="about-page-container">
  <div class="about-us-container">
    <h1>About us</h1>
  </div>
  <div class="after-about-us-container">
    <p>We are a team of four individuals who are passionate about personal health and wellness. Our mission is to provide a solution for individuals who are looking to improve their health through the use of supplements.</p>

    <p>We understand that many people have personal health problems that cannot be solved through traditional methods alone. That's why we have created a supplement quiz that will help you identify the specific nutrients your body needs to support your health goals.</p>
  </div>

  <div class="imagess-container">
    <%= image_tag "user-friendly.png", width: 200, height: 200 %>
    <%= image_tag "map.png", width: 200, height: 200 %>
  </div>
  <div class="after-about-us-container">
  <p>Our quiz is designed to be user-friendly and easy to navigate. Simply answer a few questions about your health and lifestyle, and we'll provide you with personalized supplement recommendations tailored to your specific needs.</p>

  <p>We believe that nutrition is the foundation of good health, and supplements can be a valuable tool in supporting overall wellness. However, we also believe that supplements should not be used as a substitute for a healthy diet and lifestyle.</p>
  </div>
</div>
