
<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'banner-bear.jpg' %>')">
    <h1>Your health personalized</h1>
    <h1>to your needs.</h1>
    <div class="content-home">
      <img src="<%= image_path 'arrow-1.png' %>" alt="">
      <div class="buttons">
        <%= link_to "Do the Quiz", categories_path, class: "btn" %>
        <a href="https://www.bol.com/nl/nl/s/?page=1&searchtext=bional&view=tile" class="link-underline">Browse Products</a>
      </div>
    </div>
    <p class="disclaimer-banner">Disclaimer** this webpage loads better on your Google Chrome browser.</p>
  </div>

  <div class="infos">
    <div class="footer">
    <h6>Fine, there's nothing here yet, but imagine some cool information about our website.</h6>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </div>
</div>
