<div class="learn-page-container">
  <div class="learn-image-container">
    <div class="text-inside-image-container">
      <div class="welcome-text-container">
        <h2>Welcome to our Learn page!</h2>
      </div>
      <div class="after-welcome-text-container">
        <h3> Here, you'll find a wealth of information about supplements and how they can support your health goals.</h3>
      </div>
    </div>
  </div>
  <div class="main-container-for-text">
    <div class="secondary-container-for-text">
      <div class="image-abovecontainerr" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'supplementimage.png' %>')"></div>
      <div class="text-for-info-container">
        <div class="suplements-info-container">
          <p>Supplements are a popular topic in the health and wellness industry, but with so many options available, it can be overwhelming to know where to start. That's why we've put together a comprehensive guide to help you navigate the world of supplements.</p>
        </div>
        <div class="suplements-info-container">
          <p>First, it's important to understand what supplements are and how they differ from traditional medicines. Supplements are designed to supplement, or add to, the nutrients you get from food. They come in various forms such as capsules, tablets, powders, and liquids, and can contain a variety of vitamins, minerals, herbs, and other natural ingredients.</p>
        </div>
      </div>

      <div class="image-abovecontainerr" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'supplementimages.png' %>')"></div>
      <div class="text-for-info-container">
        <div class="suplements-info-container">
          <p>Supplements can be helpful for a wide range of health goals, from boosting immunity to supporting joint health to improving cognitive function. However, it's important to note that supplements are not a replacement for a healthy diet and lifestyle. It's always best to get your nutrients from whole foods whenever possible.</p>
        </div>
        <div class="suplements-info-container">
          <p>When it comes to choosing the right supplements for your needs, it's important to do your research and consult with a healthcare professional. Our supplement quiz can be a helpful starting point, but it's always a good idea to speak with a doctor or registered dietitian to ensure that supplements are safe and appropriate for you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
