<div class="about-page-container">
  <div class="about-us-container" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'about-banner.jpg' %>')" >
    <h2>Welcome to our Learn page!</h2>
  </div>
  <div class="a-bit-lower-than-h1s">
    <h3> Here, you'll find a wealth of information about supplements and how they can support your health goals.</h3>
  </div>

  <div class="after-about-us-container">
    <p>Supplements are a popular topic in the health and wellness industry, but with so many options available, it can be overwhelming to know where to start. That's why we've put together a comprehensive guide to help you navigate the world of supplements.</p>

    <p>First, it's important to understand what supplements are and how they differ from traditional medicines. Supplements are designed to supplement, or add to, the nutrients you get from food. They come in various forms such as capsules, tablets, powders, and liquids, and can contain a variety of vitamins, minerals, herbs, and other natural ingredients.</p>
  </div>

  <div class="after-about-us-container">
  <p>Supplements can be helpful for a wide range of health goals, from boosting immunity to supporting joint health to improving cognitive function. However, it's important to note that supplements are not a replacement for a healthy diet and lifestyle. It's always best to get your nutrients from whole foods whenever possible.</p>

  <p>When it comes to choosing the right supplements for your needs, it's important to do your research and consult with a healthcare professional. Our supplement quiz can be a helpful starting point, but it's always a good idea to speak with a doctor or registered dietitian to ensure that supplements are safe and appropriate for you.</p>
  </div>

  <div class="after-about-us-container">
  <p>On this Learn page, you'll find articles on a variety of supplement-related topics, including:

    Understanding the different types of supplements and how they work
    How to choose high-quality supplements and avoid scams
    The benefits and risks of popular supplements, such as vitamin D, probiotics, and omega-3s
    How to incorporate supplements into a healthy diet and lifestyle</p>
  </div>

</div>
