.navbar-lewagon {
  justify-content: space-between;
  height: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid grey;
}

.navbar-2 {
  justify-content: space-between;
  height: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid grey;
  color: white;
  background-color: #24141F;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-row {
  display: flex;
}

.nav-link {
  padding-left: 20px;
}

.nav-link:hover {
  color: darkgrey;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fa-bars {
  font-size: 27px;
  padding-right: 20px;
}

.fa-bars:hover {
  cursor: pointer;
  color: darkgray;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; /* set a higher z-index value for the navbar */
}

@media only screen and (max-width: 575px) {

  .fa-bars {
    display: none;
  }
  .navbar-row {
    display: none;
  }
  .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .navbar-toggler {
    display: block;
  }
  .collapse {
    position: fixed;
    top: 70px; /* adjust the top position to your preference */
    left: -200px; /* set the initial left position */
    width: 200px; /* adjust the width to your preference */
    background-color: #fff;
    z-index: 9999;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
  }
  .collapse.show {
    left: 0;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .dropdown-menu-end {
    right: 0;
    left: auto;
  }
}
