<div class="category-design">
  <h3>+ <%= link_to category.name, category_path(category.id)%></h3>
</div>
<div class="category-design">
  <h3>+ <%= link_to category.name, category_path(category.id)%></h3>
</div>
