

<% if category.name == "Sleep" %>
  <img src="https://source.unsplash.com/random/300×300/?<%=category.name%>" alt="Category-img">
<% end %>

<% if category.name == "Stress" %>
  <img src="https://source.unsplash.com/random/300×300/?<%=category.name%>" alt="Category-img">
<% end %>




<!--  <div class="bed-image-for-sleep-category">
      <% if category.name == "Sleep" %>
        <%= image_tag "icons8-sleeping-in-bed-96.png", width: 50, height: 50 %>
      <% end %>
    </div>

    <div class="stress-image-category">
      <% if category.name == "Stress" %>
        <%= image_tag "stress-tired-icon.png", width: 45, height: 45 %>
      <% end %>
    </div> -->
