  <div class="container">
    <div class="centered-container">
      <h1>Choose one or more categories for your Quiz.</h1>
      <div class="categories-container">
        <% @categories.each do |category|  %>
          <%= render "category", category: category %>
        <% end %>
      </div>
      <div class="confirm-container">
        <%# <%= link_to category_path(category.id) do %>
          <div class="confirm-btn">
            <h3>Confirm</h3>
          </div>
        <%# <% end %>
      </div>
    </div>
  </div>
