  <div class="container-cat-page">
      <div class="text-container">
        <h1>Choose one or more categories for your Quiz.</h1>
      </div>
      <div class="categories-container">
        <% @categories.each do |category|  %>
          <%= render "category", category: category %>
        <% end %>
        <div class="center-box"><%= link_to "Back", root_path, class: "btn btn-primary"%></div>
      </div>
  </div>
