
  <div class="main-category-container">
    <div class="centered-container">
        <%= link_to "Back", root_path, class: "btn btn-ghost"%>
      <div class="category-text-container">
        <h2>Take our quiz for personalized supplement recommendations.</h2>
      </div>
        <h5>Choose a category, answer a few questions, and get tailored suggestions to support your health.</h5>
      <div class="categories-container">
        <% @categories.each do |category|  %>
          <%= render "category", category: category %>
        <% end %>
        <div class="center-box"><%= link_to "Back", root_path, class: "btn btn-primary"%></div>
      </div>
  </div>
