<div class="main-category-container">
  <div>
    <div class="category-titles-container">
      <div class="category-main-title">
        <h1>Take Our Quiz</h1>

      </div>
      <div class="category-second-title">
        <h2>Choose a quiz category and get personalized suggestions to improve your nutrient intake</h2>
      </div>
    </div>
    <div class="centered-category-content-container">
      <div class="all-cards-container">
        <% @categories.each do |category|  %>
          <div class="card-quiz-category">
              <div class="card-quiz-img">
                <%= link_to category_path(category.id) do %>
                <%= render "img", category: category %>
                <% end %>
              </div>
              <div class="card-quiz-content">
                <%= render "category", category: category %>
              </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
