  <div class="container">
    <div class="centered-container">
      <h1>Choose one or more categories for your Quiz.</h1>
      <div class="categories-container">
        <% @categories.each do |category|  %>
          <%= render "category", category: category %>
        <% end %>
      </div>
    </div>
  </div>
